/* carousel styles */

.carousel-img {
    width: 100vw;
}

.carousel {
    position: absolute;
    width: 100vw;
    top: 83px;
}

.carousel-indicators {
    position: absolute;
    z-index: 2;
}

.carousel .carousel-indicators .active {
    background-color: #f5350f;
}

.carousel .carousel-indicators button {
    background-color: darkslategrey;
}

.join {
    position: relative;
}

.join-btn {
    position: absolute;
    z-index: 2;
    bottom: 12vw;
    right: 9vw;
    color: white;
    background-color: #a0260e;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px 15px;
    font-family: 'Jost', monospace;
    font-weight: 400;
    transition: ease 200ms;
}

.join-btn:hover {
    background-color: #f5350f;
    transition: ease 200ms;
}

.jbct-message {
    display: flex;
    justify-content: center;
    top: 83px;
    /* bottom: 5vw; */
    margin-top: calc(100vw / 2.4);
    text-align: center;
    position: fixed;
    font-family: 'Jost', monospace;
    width: 100%;
}

.jbct-message h3 {
    font-weight: 400;
    width: 80%;
}

/* --------------------------------- */

@media (min-aspect-ratio: 16/9) {
    .jbct-message {
        display: none;
    }
}

