* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Jost', monospace;
    background: linear-gradient(rgba(103, 103, 105, 0.7), rgba(82, 80, 79, 0.5)), url('/assets/building2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.panel-container {
    display: flex;
    flex-direction: row;
    width: 80vw;
    height: 85vh;
    overflow: hidden;
    border-radius: 7vh;
    box-shadow: 3px 10px 17px 3px rgb(0 0 0 / 0.25);
}

.login-panel {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    background-color: white;
}

.greeter {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(53, 56, 56);
}

.greeter h3 {
    font-weight: 500;
    font-size: 25px;
    color: rgb(48, 51, 51);
}

.logo {
    height: auto;
    width: 100px; 
    margin: 20px 0 30px 0;
}

.input-container {
    margin: auto; 
    display: flex;
    flex-direction: column;
    width: 80%;
    color: black;
    font-family: 'Jost', monospace;
}

.input-container input {
    font-family: 'Jost', monospace;
    color: black;
}

.fa-user {
    position: absolute;
    z-index: 3;
    margin-top: 10px;
    margin-left: 10px;
}

.fa-unlock {
    position: absolute;
    z-index: 3;
    margin-top: 60px;
    margin-left: 10px;
}

.form-input, .login {
    padding: 10px;
    border: 0;
}

.form-input {
    padding: 10px 10px 10px 35px;
    background-color: #9ad2da;
}

.login {
    margin: 25px auto;
    cursor: pointer;
    font-weight: 400;
    font-size: 18px;
    font-family: 'Jost', monospace;
    padding: 5px 10px;
    width: 50%;
    box-shadow: 2px 3px 10px rgb(0 0 0 / 0.25);
    border-radius: 20px;
    transition: 200ms;
    background-color: #216c77; 
    color: white;
}

.login:hover {
    background-color: #163b41;
    transition: 200ms;
}

.uname, .pw {
    margin-bottom: 10px;
    color: black;
}

.forgot {
    text-decoration: none;
    color: #1a717a;
    margin-top: 15px;
}

.users-panel {
    width: 50%;
    background-image: url('/assets/gradient_bg.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(54, 54, 54)
}

.users-img {
    width: auto;
    height: 200px;
    margin-bottom: 5px;
}

.recent {
    text-align: center;
    margin-top: 25px;
    list-style: none;
    line-height: 20px;
    font-size: 12px;
    background: rgba(255, 255, 255, 0.25);
    padding: 5px 40px;
    box-shadow: 2px 3px 6px rgb(0 0 0 / 0.25);
    border-radius: 20px;
}

@media only screen and (max-width: 800px) {

    .login-panel {
        width: 100%;
    }

    .users-panel {
        display: none;
    }
}