.product-banner {
    width: 100vw;
    height: auto;
    position: relative;
    top: 83px;
    margin-bottom: 120px;
}

.products-body {
    background-color: #9EB29B;
    width: 100%;
    height: auto;
    padding-bottom: 50px;
}

.product-showcase {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 0 20px;
}

.product-group {
    height: 295px;
}

.product-background {
    position: absolute;
    z-index: 3;
    width: 195px;
    height: 295px;
    border-radius: 30px;
    background-image: url(/assets/product_background.jpg);
    background-position: -1300px -465px;
    filter: brightness(60%);
    box-shadow: 2px 3px 6px rgb(0 0 0 / 0.25);
}   

.product-img {
    position: relative;
    z-index: 4;
    right: -35;
    top: 50;
}

.product-name {
    color: #1F1D1D;
    font-size: 18px;
}

.product-details {
    position: relative;
    margin-top: -209px;
    z-index: 1;
    font-family: 'Urbanist', monospace;
    display: flex;
    flex-direction: column;
    height: 295px;
    width: 540px;
    border-radius: 30px;
    background-image: linear-gradient(rgba(248, 249, 250, 1), rgba(226, 214, 214, 0.2));
    padding: 50px 30px 15px 240px;
    font-weight: 600;
    box-shadow: 2px 3px 6px rgb(0 0 0 / 0.25);
}

.product-benefits {
    list-style: none;
    color: #273C28;
    text-align: left;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
}

.product-benefits li {
    margin-bottom: 10px;
}

.fa-leaf {
    margin-right: 10px;
}